flows_lohan_19dec21_2xdht11.json
[{"id":"2c13117c.af9d0e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b55116d2.56d8d8","type":"mqtt in","z":"2c13117c.af9d0e","name":"","topic":"v3/apps2@ttn/devices/eui-70b3d57ed0048db7/up","qos":"2","datatype":"json","broker":"adc91079.c39f1","nl":false,"rap":true,"rh":0,"x":180,"y":100,"wires":[["4aedcc2a.a62504","5c39e67.867ed18"]]},{"id":"5c39e67.867ed18","type":"debug","z":"2c13117c.af9d0e","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":280,"wires":[]},{"id":"4aedcc2a.a62504","type":"function","z":"2c13117c.af9d0e","name":"fcn sta 2","func":"var array = [];\n\n\nvar d = new Date();\n    dformat = [d.getFullYear(),\n    d.getMonth(),\n    d.getDate()].join('.')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n//limit to first gateway, keep it simple\n i = 0;\n array = [{\n DateTime: dformat,  \n //counter: msg.counter,\n rssi: msg.payload.uplink_message.rx_metadata[i].rssi,\n /////snr: msg.payload.uplink_message.rx_metadata[i].snr,\n /////frequency: msg.payload.uplink_message.settings.frequency,\n //modulation: msg.metadata.modulation,\n data_rate: msg.payload.uplink_message.settings.data_rate.lora.spreading_factor,\n //airtime: msg.payload.uplink_message.rx_metadata[i].consumed_airtime,\n dev_id: msg.payload.end_device_ids.device_id,\n /////app_id: msg.payload.end_device_ids.application_ids.application_id,\n //hardware_serial: msg.hardware_serial,\n /////gtw_id: msg.payload.uplink_message.rx_metadata[i].gateway_ids.gateway_id,\n Temperature: msg.payload.uplink_message.decoded_payload.Temperature,\n Humidity: msg.payload.uplink_message.decoded_payload.Humidity,\n /////Pressure: msg.payload.uplink_message.decoded_payload.Pressure,\n /////GAS: msg.payload.uplink_message.decoded_payload.GAS,\n// weight: msg.payload.weight,\n// battery: msg.payload.batt,\n// pressure: msg.payload.press,\n// weighta: (msg.payload.weight)+((reft-((msg.payload.temp)-100))*calib)\n }\n];\n\nvar msg1 = {};\nmsg1.payload = array;\n\nreturn [msg1];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":100,"wires":[["b500eaae.2496b8","7062a603.ad6cc8","2f755d0f.52c5c2","d59b1a8a.e95b78"]]},{"id":"b500eaae.2496b8","type":"debug","z":"2c13117c.af9d0e","name":"debug sta 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":40,"wires":[]},{"id":"7062a603.ad6cc8","type":"ui_gauge","z":"2c13117c.af9d0e","name":"","group":"d03f0a9c3246bb8f","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature STA 2","label":"°C","format":"{{payload[0].Temperature}}","min":"10","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":710,"y":100,"wires":[]},{"id":"2f755d0f.52c5c2","type":"influxdb out","z":"2c13117c.af9d0e","influxdb":"6608016d.535eb","name":"PH Node 2","measurement":"reading1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":710,"y":160,"wires":[]},{"id":"d59b1a8a.e95b78","type":"ui_text","z":"2c13117c.af9d0e","group":"d03f0a9c3246bb8f","order":2,"width":0,"height":0,"name":"","label":"Humidity STA 2 (%)","format":"{{payload[0].Humidity}}","layout":"col-center","className":"","x":710,"y":220,"wires":[]},{"id":"62f910b8.2cc35","type":"mqtt in","z":"2c13117c.af9d0e","name":"","topic":"v3/apps2@ttn/devices/eui-70b3d57ed0048db7/u","qos":"2","datatype":"json","broker":"adc91079.c39f1","nl":false,"rap":true,"rh":0,"x":180,"y":320,"wires":[["c49b8dae.5ce2d","c093b40c.f4f3b8"]]},{"id":"c49b8dae.5ce2d","type":"function","z":"2c13117c.af9d0e","name":"fcn sta 1","func":"var array = [];\n\n\nvar d = new Date();\n    dformat = [d.getFullYear(),\n    d.getMonth(),\n    d.getDate()].join('.')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n//limit to first gateway, keep it simple\n i = 0;\n array = [{\n DateTime: dformat,  \n //counter: msg.counter,\n rssi: msg.payload.uplink_message.rx_metadata[i].rssi,\n /////snr: msg.payload.uplink_message.rx_metadata[i].snr,\n /////frequency: msg.payload.uplink_message.settings.frequency,\n //modulation: msg.metadata.modulation,\n data_rate: msg.payload.uplink_message.settings.data_rate.lora.spreading_factor,\n //airtime: msg.payload.uplink_message.rx_metadata[i].consumed_airtime,\n dev_id: msg.payload.end_device_ids.device_id,\n /////app_id: msg.payload.end_device_ids.application_ids.application_id,\n //hardware_serial: msg.hardware_serial,\n /////gtw_id: msg.payload.uplink_message.rx_metadata[i].gateway_ids.gateway_id,\n Temperature: msg.payload.uplink_message.decoded_payload.Temperature,\n Humidity: msg.payload.uplink_message.decoded_payload.Humidity,\n /////Pressure: msg.payload.uplink_message.decoded_payload.Pressure,\n /////GAS: msg.payload.uplink_message.decoded_payload.GAS,\n// weight: msg.payload.weight,\n// battery: msg.payload.batt,\n// pressure: msg.payload.press,\n// weighta: (msg.payload.weight)+((reft-((msg.payload.temp)-100))*calib)\n }\n];\n\nvar msg1 = {};\nmsg1.payload = array;\n\nreturn [msg1];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":320,"wires":[["c41c7c38.2d493","f4105164.e298c","2bbb646.f082c9c"]]},{"id":"c093b40c.f4f3b8","type":"debug","z":"2c13117c.af9d0e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":500,"wires":[]},{"id":"c41c7c38.2d493","type":"ui_text","z":"2c13117c.af9d0e","group":"c90763b6b10c671f","order":2,"width":0,"height":0,"name":"","label":"Humidity STA 1","format":"{{payload[0].Humidity}}","layout":"row-spread","className":"","x":650,"y":440,"wires":[]},{"id":"f4105164.e298c","type":"ui_gauge","z":"2c13117c.af9d0e","name":"","group":"c90763b6b10c671f","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature STA 1","label":"°C","format":"{{payload[0].Temperature}}","min":"10","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":700,"y":400,"wires":[]},{"id":"2bbb646.f082c9c","type":"debug","z":"2c13117c.af9d0e","name":"debug sta 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":320,"wires":[]},{"id":"adc91079.c39f1","type":"mqtt-broker","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"260BF0CB","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d03f0a9c3246bb8f","type":"ui_group","name":"Site 1- Station 2","tab":"c12008da5f4867f5","order":2,"disp":true,"width":5,"collapse":false},{"id":"6608016d.535eb","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"lohan1","name":"","usetls":false,"tls":"c6f125b2ba64544d","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"c90763b6b10c671f","type":"ui_group","name":"Site 1 - Station 1","tab":"c12008da5f4867f5","order":1,"disp":true,"width":5,"collapse":false},{"id":"c12008da5f4867f5","type":"ui_tab","name":"Lohan","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c6f125b2ba64544d","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]