flows_infuxdb_19dec2021.json
[{"id":"3e55050a.8edb0a","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"1746926e.d6f43e","type":"inject","z":"3e55050a.8edb0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":220,"y":80,"wires":[[]]},{"id":"cec7b830.82fae8","type":"random","z":"3e55050a.8edb0a","name":"sensor","low":1,"high":10,"inte":"true","property":"sensor","x":190,"y":180,"wires":[["d8f41e17.0f75a"]]},{"id":"d8f41e17.0f75a","type":"function","z":"3e55050a.8edb0a","name":"","func":"var sensor = msg.sensor\n\nif (sensor >=5)\n{\n    msg.payload =\n    {\n        numValue: sensor,\n        strValue : \"high\",\n        valveCond : 0\n    }\n} else if (sensor <5)\n{\n    msg.payload =\n    {\n        numValue: sensor,\n        strValue : \"low\",\n        valveCond : 1\n    }\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":300,"wires":[["dd15e49b.271258","d3184bf2.1f1088"]]},{"id":"dd15e49b.271258","type":"debug","z":"3e55050a.8edb0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":380,"wires":[]},{"id":"d3184bf2.1f1088","type":"influxdb out","z":"3e55050a.8edb0a","influxdb":"6608016d.535eb","name":"Tank_Pressure","measurement":"tank_pressure","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":430,"y":280,"wires":[]},{"id":"6608016d.535eb","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"lohan1","name":"","usetls":false,"tls":"c6f125b2ba64544d","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"c6f125b2ba64544d","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]