flows_05Dec2021-Lohan1.json
[
    {
        "id": "87e8c7fef046a465",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "608e6502.01b77c",
        "type": "mqtt in",
        "z": "87e8c7fef046a465",
        "name": "",
        "topic": "v3/apps2@ttn/devices/eui-70b3d57ed0048d1a/up",
        "qos": "2",
        "datatype": "json",
        "broker": "d7717275.20b2",
        "nl": false,
        "rap": false,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "861ab81a5a33b2bc"
            ]
        ]
    },
    {
        "id": "c82445e9.88afa8",
        "type": "debug",
        "z": "87e8c7fef046a465",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 560,
        "wires": []
    },
    {
        "id": "861ab81a5a33b2bc",
        "type": "function",
        "z": "87e8c7fef046a465",
        "name": "fcn3 Sta1",
        "func": "var array = [];\n\n\nvar d = new Date();\n    dformat = [d.getFullYear(),\n    d.getMonth(),\n    d.getDate()].join('.')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n//limit to first gateway, keep it simple\n i = 0;\n array = [{\n DateTime: dformat,  \n //counter: msg.counter,\n rssi: msg.payload.uplink_message.rx_metadata[i].rssi,\n /////snr: msg.payload.uplink_message.rx_metadata[i].snr,\n /////frequency: msg.payload.uplink_message.settings.frequency,\n //modulation: msg.metadata.modulation,\n data_rate: msg.payload.uplink_message.settings.data_rate.lora.spreading_factor,\n //airtime: msg.payload.uplink_message.rx_metadata[i].consumed_airtime,\n dev_id: msg.payload.end_device_ids.device_id,\n /////app_id: msg.payload.end_device_ids.application_ids.application_id,\n //hardware_serial: msg.hardware_serial,\n /////gtw_id: msg.payload.uplink_message.rx_metadata[i].gateway_ids.gateway_id,\n Temperature: msg.payload.uplink_message.decoded_payload.Temperature,\n Humidity: msg.payload.uplink_message.decoded_payload.Humidity,\n /////Pressure: msg.payload.uplink_message.decoded_payload.Pressure,\n /////GAS: msg.payload.uplink_message.decoded_payload.GAS,\n// weight: msg.payload.weight,\n// battery: msg.payload.batt,\n// pressure: msg.payload.press,\n// weighta: (msg.payload.weight)+((reft-((msg.payload.temp)-100))*calib)\n }\n];\n\nvar msg1 = {};\nmsg1.payload = array;\n\nreturn [msg1];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 160,
        "wires": [
            [
                "19d3e0b1d599a65c",
                "ca9d054ef453883d",
                "43ac744d1ad47259",
                "68735b9aa0a7e0b5"
            ]
        ]
    },
    {
        "id": "19d3e0b1d599a65c",
        "type": "debug",
        "z": "87e8c7fef046a465",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "ca9d054ef453883d",
        "type": "ui_gauge",
        "z": "87e8c7fef046a465",
        "name": "",
        "group": "c90763b6b10c671f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{payload[0].Temperature}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "43ac744d1ad47259",
        "type": "ui_gauge",
        "z": "87e8c7fef046a465",
        "name": "",
        "group": "c90763b6b10c671f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{payload[0].Humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "cf96853299561623",
        "type": "mqtt in",
        "z": "87e8c7fef046a465",
        "name": "",
        "topic": "v3/apps2@ttn/devices/eui-70b3d57ed0048db7/up",
        "qos": "0",
        "datatype": "json",
        "broker": "d7717275.20b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "fa1cc63957f67f80",
                "6d5fe0172fbb6877"
            ]
        ]
    },
    {
        "id": "d18fa50f95ae63d3",
        "type": "function",
        "z": "87e8c7fef046a465",
        "name": "fcn3 Sta2",
        "func": "var array2 = [];\n\n\nvar d = new Date();\n    dformat = [d.getFullYear(),\n    d.getMonth(),\n    d.getDate()].join('.')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n//limit to first gateway, keep it simple\n i = 0;\n array2 = [{\n DateTime: dformat,  \n //counter: msg.counter,\n rssi: msg.payload.uplink_message.rx_metadata[i].rssi,\n fPort: msg.payload.uplink_message.rx_metadata[i].fPort,\n /////snr: msg.payload.uplink_message.rx_metadata[i].snr,\n /////frequency: msg.payload.uplink_message.settings.frequency,\n //modulation: msg.metadata.modulation,\n data_rate: msg.payload.uplink_message.settings.data_rate.lora.spreading_factor,\n //airtime: msg.payload.uplink_message.rx_metadata[i].consumed_airtime,\n dev_id: msg.payload.end_device_ids.device_id,\n /////app_id: msg.payload.end_device_ids.application_ids.application_id,\n //hardware_serial: msg.hardware_serial,\n /////gtw_id: msg.payload.uplink_message.rx_metadata[i].gateway_ids.gateway_id,\n Temperature: msg.payload.uplink_message.decoded_payload.Temperature,\n Humidity: msg.payload.uplink_message.decoded_payload.Humidity,\n /////Pressure: msg.payload.uplink_message.decoded_payload.Pressure,\n /////GAS: msg.payload.uplink_message.decoded_payload.GAS,\n// weight: msg.payload.weight,\n// battery: msg.payload.batt,\n// pressure: msg.payload.press,\n// weighta: (msg.payload.weight)+((reft-((msg.payload.temp)-100))*calib)\n }\n];\n\nvar msg2 = {};\nmsg2.payload = array2;\n\nreturn [msg2];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 380,
        "wires": [
            [
                "5b0312e094625cf4",
                "d444c9f3db3ffbb9",
                "d5b29a88606b6a05"
            ]
        ]
    },
    {
        "id": "5b0312e094625cf4",
        "type": "debug",
        "z": "87e8c7fef046a465",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "d5b29a88606b6a05",
        "type": "ui_gauge",
        "z": "87e8c7fef046a465",
        "name": "",
        "group": "d03f0a9c3246bb8f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{payload[0].Humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "d444c9f3db3ffbb9",
        "type": "ui_gauge",
        "z": "87e8c7fef046a465",
        "name": "",
        "group": "d03f0a9c3246bb8f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{payload[0].Temperature}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "0d7bf78f33e59213",
        "type": "status",
        "z": "87e8c7fef046a465",
        "name": "",
        "scope": [
            "608e6502.01b77c",
            "cf96853299561623"
        ],
        "x": 190,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e5f2733e52dc25e2",
        "type": "ui_text",
        "z": "87e8c7fef046a465",
        "group": "d03f0a9c3246bb8f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{payload[0].DateTime}}",
        "layout": "col-center",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "68735b9aa0a7e0b5",
        "type": "ui_text",
        "z": "87e8c7fef046a465",
        "group": "c90763b6b10c671f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{payload[0].DateTime}}",
        "layout": "col-center",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "fa1cc63957f67f80",
        "type": "function",
        "z": "87e8c7fef046a465",
        "name": "set to 0",
        "func": "if(msg.payload.uplink_message.rx_metadata[1].rssi==0){// || msg.payload == \"Connected\"){\n   // msg.payload=0;\n   node.status({fill:\"red\",shape:\"ring\",text:\"Last Update: \"});//+lastUpdate+\"s\"});\nreturn [null];}\nelse\n{\n       node.status({fill:\"green\",shape:\"ring\",text:\" Update:s\"});\nreturn [msg];\n}",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 360,
        "wires": [
            [
                "c82445e9.88afa8",
                "d18fa50f95ae63d3"
            ]
        ]
    },
    {
        "id": "6d5fe0172fbb6877",
        "type": "debug",
        "z": "87e8c7fef046a465",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "0568cd8c75ec9d52",
        "type": "ui_spacer",
        "z": "87e8c7fef046a465",
        "name": "spacer",
        "group": "c90763b6b10c671f",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "203b254dcf710a6e",
        "type": "ui_spacer",
        "z": "87e8c7fef046a465",
        "name": "spacer",
        "group": "d03f0a9c3246bb8f",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "d7717275.20b2",
        "type": "mqtt-broker",
        "name": "TTN-EU",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "tls": "c6f125b2ba64544d",
        "clientid": "260BFF2C",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": "",
        "credentials": {}
    },
    {
        "id": "c90763b6b10c671f",
        "type": "ui_group",
        "name": "Site 1 - Station 1",
        "tab": "c12008da5f4867f5",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "d03f0a9c3246bb8f",
        "type": "ui_group",
        "name": "Site 1- Station 2",
        "tab": "c12008da5f4867f5",
        "order": 2,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "c6f125b2ba64544d",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "c12008da5f4867f5",
        "type": "ui_tab",
        "name": "Lohan",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]